In [ ]:
import pandas as pd
import email_validator
from email_validator import validate_email, EmailNotValidError

In [ ]:
df = pd.read_csv('demo_data/raw_leads.csv')
df.columns

In [23]:
df.drop_duplicates(["email"])

,name,email,company,post
0,Lori Moreno,lmoreno877@fastmail.com,Frazier PLC Solutions,Software Engineer
1,Timothy Davis,tdavis575@gmx.com,Lawson-Andrews Corp.,Senior Engineer
2,Megan Rodriguez,mrodriguez372@zoho.com,Evans Group Group,Senior Engineer
3,Heidi Coffey,hcoffey337@hotmail.com,Bradford Ltd Solutions,Operations Manager
4,Stephanie Hill,shill966@gmx.com,Holloway-Singh Technologies,CEO
...,...,...,...,...
49995,Gabriel Swanson,gswanson112@gmx.com,Oliver Ltd LLC,Department Head
49996,Suzanne Black,sblack249@icloud.com,Christian-Duarte Group,Technical Director
49997,Charles Savage,csavage896@gmx.com,"Houston, Parsons and Hill Industries",Operations Manager
49998,Carrie Hall,chall955@fastmail.com,Randall PLC Solutions,Sales Manager
49999,Richard Khan,rkhan238@protonmail.com,Joseph Ltd Technologies,Operations Manager

In [24]:
flag = False
def check_email(email):
    try:
        # Validate and normalize email
        valid = validate_email(email, check_deliverability=False)
        flag = True
        return flag
    except EmailNotValidError as e:
        print(f"Invalid Email: {e}")
        flag = False
        return flag

In [25]:
print(df.columns)

Index(['name', 'email', 'company', 'post'], dtype='object')

In [26]:
count = 0
for i in df["email"]:
    f = check_email(i)
    if f == False:
        df = df.drop(df[df.eq(i).any(axis=1)].index)
        count += 1
print(count)

0

In [ ]:
positions = df['post'].unique().tolist()[:]
positions

['Software Engineer',
 'Senior Engineer',
 'Operations Manager',
 'CEO',
 'Sales Manager',
 'HR Manager',
 'Account Manager',
 'Marketing Manager',
 'Product Manager',
 'Senior Manager',
 'Team Lead',
 'Specialist',
 'CFO',
 'CTO',
 'Project Manager',
 'COO',
 'Technical Director',
 'Systems Analyst',
 'Director of Engineering',
 'Department Head',
 'Employee',
 'Business Analyst',
 'Associate']

In [33]:
lead_scores = {
    'CEO': 10, 'CFO': 10, 'CTO': 10, 'COO': 10,
    'Technical Director': 9, 'Director of Engineering': 9, 'Department Head': 9,
    'Senior Manager': 8, 'Operations Manager': 8, 'Project Manager': 8, 'Product Manager': 8,
    'Marketing Manager': 7, 'Sales Manager': 7, 'HR Manager': 7, 'Account Manager': 7,
    'Team Lead': 6, 'Systems Analyst': 6, 'Business Analyst': 6,
    'Senior Engineer': 5, 'Software Engineer': 5, 'Specialist': 5,
    'Associate': 3, 'Employee': 2
}
df['lead_score'] = df['post'].map(lead_scores).fillna(0)
df

,name,email,company,post,lead_score
0,Lori Moreno,lmoreno877@fastmail.com,Frazier PLC Solutions,Software Engineer,5
1,Timothy Davis,tdavis575@gmx.com,Lawson-Andrews Corp.,Senior Engineer,5
2,Megan Rodriguez,mrodriguez372@zoho.com,Evans Group Group,Senior Engineer,5
3,Heidi Coffey,hcoffey337@hotmail.com,Bradford Ltd Solutions,Operations Manager,8
4,Stephanie Hill,shill966@gmx.com,Holloway-Singh Technologies,CEO,10
...,...,...,...,...,...
49995,Gabriel Swanson,gswanson112@gmx.com,Oliver Ltd LLC,Department Head,9
49996,Suzanne Black,sblack249@icloud.com,Christian-Duarte Group,Technical Director,9
49997,Charles Savage,csavage896@gmx.com,"Houston, Parsons and Hill Industries",Operations Manager,8
49998,Carrie Hall,chall955@fastmail.com,Randall PLC Solutions,Sales Manager,7
49999,Richard Khan,rkhan238@protonmail.com,Joseph Ltd Technologies,Operations Manager,8