In [28]:
import pandas as pd
import random

In [33]:
url = "https://raw.githubusercontent.com/luminati-io/B2B-business-dataset-samples/refs/heads/main/Zoominfo-companies-information.csv"
local_file = "B2B.csv"

In [34]:
df = pd.read_csv(url)
df = df[['website','employees']]

In [37]:
df.head()

                          website  employees
0  https://www.tutleandtutle.com/        117
1       https://www.usmayors.org/         63
2       https://www.unwin-co.com/         25
3  https://www.twinsbuickgmc.com/         57
4    https://www.valeogroupe.com/         60

In [40]:
def random_title():
    return random.choice(["CEO", "Founder", "Director", "Program Manager", "Secretary", "Consultant", "Marketing Director", "Creative Lead", "Account Manager", "Managing Partner", "Solutions Architect", "President", "Manager", "Analyst", "CTO", "Lead Developer", "Product Manager"])

df['title'] = df['website'].apply(lambda x: random_title())
df.head()

                          website  employees       title
0  https://www.tutleandtutle.com/        117     Analyst
1       https://www.usmayors.org/         63  Consultant
2       https://www.unwin-co.com/         25     Founder
3  https://www.twinsbuickgmc.com/         57         CTO
4    https://www.valeogroupe.com/         60  Consultant

In [41]:
df.rename(columns={'employees': 'emp_count'}, inplace=True)
df.columns

Index(['website', 'emp_count', 'title'], dtype='object')

In [43]:
df.to_csv(local_file, index=False)